


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B132B; // Tu Azul Profundo
    color: #F5F5F1;
    font-family: 'Gotham', sans-serif;
    overflow-x: hidden;
}
